# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

In [2]:
num=7
print(num)

7

##### Assinging float - Float types are decimals

In [3]:
this_float= 7.9
print(this_float)

7.9

#### Performing Calculations on ints and floats

##### Addition (+)

In [4]:
num1 =4
num2 = 5

result= 5+4
print(result)
result += 5
print(result)

9

##### Subtraction (-)

In [5]:
num3 =6
num4 =7

result = num3 - num4
print(result)

result -= 3
print(result)

-1
-4

##### Multiplication (*)

In [7]:
num5 =10
num6 =15

result = num5 * num6
result *= 10
print(result)

1500

##### Division (/)

In [9]:
num7 = 20
num8= 5

result = num7/num8
print(result)

4.0

##### Floor Division (//) - Normal division but returns the largest possible integer

In [10]:
#rounds down to the closest int
num9 = 18
num10= 7

result= num9//10
print(result)

1

##### Modulo (%) - Returns the remainder of division

In [11]:
#gives you the remainder 
num = 20
num1 = 6

result =num% num1
print(result)

2

##### Exponential (**)

In [12]:
square = 5 ** 2
print(square)

cubed = 5 **3
print(cubed)

25
125

### String Input-Output

##### String Assignment

In [13]:
name ="dylan"

print(name)

dylan

##### print() <br>
<p>Don't forget about end=' '</p>

In [16]:
print("my name is", name)

print("my name is", name,  end=" katina")

my name is dylan
my name is dylan katina

##### String Concatenation

In [18]:
first ="dylan"
last = "katina"

fullname= first + " " + last
print(fullname)

dylan katina

##### Type Conversion

In [20]:
num = "57"

result = 2 - int(num)
print(result)

-55

##### input()

In [25]:
age = int(input("how old are you"))
print(f"you are,{age} years old")

you are,29 years old

##### format()

In [28]:
name = "Rhianna"
age = int(input("how old are you"))
print(f"you are,{age} years old")

result = "hi {}, you are {} years old".format(name,age)
print(result)

you are,29 years old
hi Rhianna, you are 29 years old

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [33]:
color= input("What color is your car?")
year= int(input("What is the model year?"))
make =input("What brand is the car?")
model= input("what is the model?")

print(f"You have a, {color} ,{make}  {model} from {year}")

You have a, green ,nissan  altima from 2020

### If Statements

In [36]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T and F = F
# T and T = T
# T or F = T
# F or T = T
# F or F = F

num1= 10
num2 =15

if num1 > num2:
    print(f"{num1} is greater than {num2}")
elif num1 == num:
    print("These values are the same")
    
else:
    print(f"{num1} is the less than {num2}")

10 is the less than 15

##### 'is' keyword - Checks if the value refers to the same object in memory, not if they equal each other

In [38]:
num = 50
x = num

if num is x:
    print("yes")
else:
    print("yes")

yes

##### 'in' keyword = used to check if a value is present in a sequence

In [41]:
name = "Rhianna Dicent"

if "R" in name:
    print("what's my name ?")

what's my name ?

##### 'not in' keyword'

In [43]:
if "dylan" not in name:
    print("Your name is not dylan")
else:
    print("Your name is Rhianna")

Your name is not dylan

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [45]:
animal = input("What's your favorite animal?")

if "p" in animal:
    print("Yes 'p' is in this animal's name")
else:
    print("No 'p' in this!")

No P in this!

## Using 'and'/'or' with If Statements

In [48]:
name = "Paul"

if 'p' in name or 'P' in name:
    print("p")
else:
    print("no p")

christian = "cool"

if christian == "cool" and 'p' in name:
    print("really?")
else:
    print("we lit")

p
we lit

### Elif Statements

:

### Else Statements

In [ ]:
# see above

:

### For Loops

In [49]:
name = "dylan"

for letter in name:
    print(letter)

d
y
l
a
n

##### Continue Statement

In [50]:
# will continue to next iteration

for letter in name:
    if letter == 'l':
        continue
    print(letter)

#going to continue without the l

d
y
a
n

##### Break Statement

In [55]:
# will break out of current loop
for letter in name:
    if letter == 'l':
        break
    print(letter)

#saying stop we're done

d
y

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration
for letter in name:
    pass # add functionality later

:

##### Double For Loops

In [58]:
for num1 in range(5):
    for nam2 in range(5):
        print(f"{num1} + {num2}")

0 + 15
0 + 15
0 + 15
0 + 15
0 + 15
1 + 15
1 + 15
1 + 15
1 + 15
1 + 15
2 + 15
2 + 15
2 + 15
2 + 15
2 + 15
3 + 15
3 + 15
3 + 15
3 + 15
3 + 15
4 + 15
4 + 15
4 + 15
4 + 15
4 + 15

### While Loops

In [59]:
num = 0 

while num < 10:
    print(num)
    num+=1
print("finished")

0
1
2
3
4
5
6
7
8
9
finished

##### Looping 'While True'

In [62]:
while True:
    if num >= 10:
        break
    num += 1
    print("no")

##### While & For Loops Used Together

In [67]:
num = 0 

while num <5:
    print("while loop")

    for i in range(num):
        print("for loop")
    num+= 1
print("finished")

while loop
while loop
for loop
while loop
for loop
for loop
while loop
for loop
for loop
for loop
while loop
for loop
for loop
for loop
for loop
finished

### Built-In Functions

##### range()

In [75]:
# range takes in multiple prarmters Start Stop Step

for num in range(1,20,3):
    print(num)

1
4
7
10
13
16
19

##### len()

In [77]:
name = "dylan"

length = len(name)
 
print(name)

#spaces do count

dylan

##### help() -  used to display the documentation of modules, functions, classes, keywords, etc.

In [79]:
help(range)

SyntaxError: invalid syntax (4077688084.py, line 1)

##### isinstance() - checks if the object is the type

In [82]:
print(isinstance(4.5, int))

num=2
if isinstance(num,int):
    print("This is an integer")

False
This is an integer

##### abs() - returns the absolute value

In [84]:
print(abs(7-20))

13

### Try and Except Blocks
#### try - lets you test a block of code for errors
#### except - lets you handle the error

In [89]:
try:
    num = 1
    new_num=input("what number is his)")
    if new_num != num:
        new_num += num
        print("your num is:", num)
except:
    print("that did not work")

that did not work

### Lists

##### Declaring Lists

In [90]:
my_list =[]

names =["William", 'Rhianna', 'Sean']

print(names)

['William', 'Rhianna', 'Sean']

##### Indexing a List

In [93]:
print(names[0])
print(names[-1])

William
Sean

##### .append()

In [98]:
names.append("Kasey")

print(names)

['William', 'Rhianna', 'Sean', 'kasey', 'Kasey', 'Kasey', 'Kasey']

##### .insert()

In [100]:
names.insert(0,"kevin")
print(names)

['kevin', 'kevin', 'William', 'Rhianna', 'Sean', 'kasey', 'Kasey', 'Kasey']

##### .pop()

In [102]:
last = names.pop()

print(last)
print(names)

another = names.pop(2)
print(another)
print(names)

Kasey
['kevin', 'kevin', 'William', 'Rhianna', 'Sean', 'kasey']
William
['kevin', 'kevin', 'Rhianna', 'Sean', 'kasey']


##### .remove() - removes element in a list, does not remove duplicates

In [ ]:
print(names)

#it removes the first one it can find that meets that condition

names.remove("kasey")

print(names)

:

##### del()

In [104]:
del(names[2])
print(names)

['kevin', 'kevin', 'kasey']

##### Concatenating Two Lists

In [105]:
l_1 = [1,2,3,4,5,6,7]
l_2 = [1,2,3,4,5,6,7]

large_list = l_1+ l_2
print(large_list)

[1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7]

##### Lists Within Lists

In [111]:
child  = ['this', 'small', 'list']
mother = ["bigger", 'list', child]

print(mother)
print(mother[2][1])

['bigger', 'list', ['this', 'small', 'list']]
small

##### Looping Through Lists

In [113]:
students= ["tristian", "ash", "gabe","nate"]

for student in students:
    print("outer loop")
    for letter in student:
        print(letter)

outer loop
t
r
i
s
t
i
a
n
outer loop
a
s
h
outer loop
g
a
b
e
outer loop
n
a
t
e

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [4]:
num = 0
while num < 1000:
    num +=1
    num **=2
    if num > 1000:
        break
    print(num)
#not sure if you meant all cubed numbers from 1-1000

1
4
25
676

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

:

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [19]:
age = int(input("How old are you?"))

def tickets(age):
    if age < 18:
      print("kids")
    elif age >= 18 and age < 65:
        print("adults")
    else:
        print("seniors")
tickets(age)

adults